body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.galery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery img {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.gallery img:hover {
  opacity: 0.8;
}
